.circle {
    width: 200px;
    height: 200px;
    border: 2px solid #333;
    border-radius: 50%;
    position: relative;
    animation: rotate 5s linear infinite;
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) translateX(100px) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg) translateX(100px) rotate(-360deg);
    }
  }
  
  .display-4{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.5rem;
  }
  .text-success{
    color: #CBFA46 !important;
  }